@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

h4 {
    font-size: 1.8rem;
}

.sub-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Mui-disabled {
    cursor: not-allowed;
}